main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating-text {
  font-size: 14px;
  font-style: italic;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h3 {
  font-size: 1.2rem;
  padding: 0.5rem;
}

h4 {
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
}

.cart-items {
  margin-top: 20px;
}

.form-group {
  padding-top: 10px;
}

.list-group {
  padding-top: 20px;
}

.paginator {
  display: flex;
  justify-content: center;
}

.img-logo {
  margin-inline-end: 20px;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h3 {
  color: #fff;
}

.carousel img {
  object-fit: cover;
  height: 300px;
  padding: 20px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
